{% if page.gDriveSheets%}
<div id="sheets">
   <h1>gSheets</h1>
   <a href="https://drive.google.com/file/d/{{page.gDriveSheets}}/preview">View It Here</a>
   <object data="https://drive.google.com/file/d/{{page.gDriveSheets}}/preview"  width="750px" height="750px">
      <iframe src="https://drive.google.com/file/d/{{page.gDriveSheets}}/preview" >
         <p>This browser does not support PDFs. Please download the PDF to view it: <a href="https://drive.google.com/file/d/{{page.gDriveSheets}}/preview">Download PDF</a>.</p>
      </iframe>
   </object>
<div>    
{% endif %}