{% if page.gDriveSlide%}
<div id="slide">
   <h1>gSlide</h1>
   <a href="https://drive.google.com/file/d/{{page.gDriveSlide}}/preview">View It Here</a>
   <object data="https://drive.google.com/file/d/{{page.gDriveSlide}}/preview"  width="750px" height="750px">
      <iframe src="https://drive.google.com/file/d/{{page.gDriveSheets}}/preview" >
         <p>This browser does not support PDFs. Please download the PDF to view it: <a href="https://drive.google.com/file/d/{{page.gDriveSlide}}/preview">Download PDF</a>.</p>
      </iframe>
   </object>
<div>    
{% endif %}
